@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
@import '../../utils/variables'; //variables與reset引入順序視reset裡是否有使用變數而定
@import '../../base/reset';
@import '../../utils/spacing';
@import '../../utils/helpers';
@import '../../utils/mixins';

$primary-color: $black;
$secondary-color: #ae0000;
$font-family-base: "Castoro", serif;

// background
.bg-gray {
  background: $gray-100;
}

// 自定義class
.container {
  /* 使用 max-width 可以自適應瀏覽器畫面寬度*/
  max-width: 1296px; //86 * 12 + 24 * 11 = 1296
  margin: 0 auto;
}
.title {
  letter-spacing: 0.12em;
  height: 192px;
}
.info-item-title {
  font-size: 40px;
  color: $secondary-color;
  border-bottom: 3px solid $secondary-color;
  margin-bottom: 16px;
}
.year {
  color: #949494;
  font-style: italic;
}

// 主要內容開始
body {
  font-family: $font-family-base;
  margin-top: 160px;
}
img {
  vertical-align: middle;
  // max-width: 100%;
}
.container {
  // 關於 VITO 和邊界的距離，實作上 container 還需要另外設定左右 padding，讓網頁元素距離邊界有一點點空間，視覺上比較舒適。
  padding: 0 10px;
  h2 {
    // height: 192px;
    //文字垂直居中，值要跟height一樣
    // https://segmentfault.com/a/1190000005122321
    // line-height: 192px;
  }
}
.summary-info {
  margin-bottom: 80px;
  padding: 48px 0;
  p {
    width: 50%;
  }
}
.info-box {
  width: 50%;
  .info-item {
    margin-bottom: 40px;
    &:first-child li {
      margin-bottom: 8px;
      a {
        text-decoration: none;
        color: $black;
      }
    }
    &:nth-child(2) li,
    &:nth-child(3) li {
      margin-bottom: 16px;
    }
  }
}
.footer {
  background: $black;
  padding: 64px 0;
  margin-top: 160px;
  li {
    display: inline-block;
    margin-right: 40px;
  }
  img:hover {
    border-radius: 80%;
    box-shadow: 4px 1px $white;
    transform: translateY(-3px);
    transition: all 0.5s ease-out;
  }
}
// 主要內容結束
