@import 'csshake';
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import '../../utils/variables';
@import '../../base/reset';
@import '../../utils/spacing';
@import '../../utils/helpers';
@import '../../utils/mixins';

$primary-color-1: $black;
$primary-color-2: $white;
$highlight-color: #00FFA3;
$secondary-color-1: #D1D1D1;
$secondary-color-2: #050014;
$font-family-base:  'Bruno Ace SC', cursive, serif;
$box-shadow: #9094FF;
$border-color: #E3E3E3;

body {
  font-family: $font-family-base;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.bg-black {
  background-color: $black;
}
.tx-highlight-color {
  color: $highlight-color;
}
.tx-primary-color-2 {
  color: $primary-color-2;
}

// HEADER
header {
  color: $secondary-color-1;
  padding-top: 40px;
  ul {
    li {
      min-width: 196px;
      max-width: 306px;
      a {
        color: inherit;
      }
    }
  }
}

// BANNER
.banner {
  padding: 72px 0;
  .banner-title {
    a {
      @include round-button($highlight-color, $white);
      padding: 12px 0;
      width: 186px;
      background-color: $white;
      color: $black;
    }
  }
}

// INTRODUCTION
.intro {
  background: $primary-color-1 url('../../images/w2/background-img.png') 100%/cover fixed;
}

// ABOUT ME
.about-section {
  padding: 160px 0;
  .about-aside {
    flex-wrap: wrap;
    .about-content-box {
      width: 306px;
      padding: 16px;
      border: 1px solid $border-color;
      box-shadow: 1px 0 5px $border-color;
    }
  }
}

// CONTACT ME
.contact-me {
  background: $secondary-color-2;
  color: $white;
  padding: 96px 0;
  .contact-me-title {
    img {
      vertical-align: bottom;
    }
  }
}
.social-media-img {
  object-fit: cover; // 讓圖維持設定好的寬高，並且圖片會自動裁切掉邊緣，防止圖片被壓縮變形
  border-radius: 40px;
  width: 162px;
  height: 162px;
  &:hover {
    box-shadow: 0 0 20px 5px $box-shadow;
  }
}

// MY PROJECTS
.projects-section {
  padding: 160px 0;
    .projects-main {
      flex-wrap: wrap;
      .projects-main-content {
        height: 196px;
        a {
          @include round-button($highlight-color, $black);
          width: 185px;
          padding: 12px 0;
        }
      }
    }
}

// FOOTER
footer {
  padding: 40px 0;
}