// ---------DISPLAY---------
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}
.d-inline {
  display: inline;
}
//  ---------FLEX---------
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.item-stretch {
  align-items: stretch;
}
/* 調整內層元素
可以個別設定單一元素在交錯軸的的對齊方式
調整按鈕的寬度，可以使用 align-self: flex-start; 來讓按鈕本身，縮回交錯軸的起始點
*/
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
// ---------FONT-SIZE---------
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-32 {
  font-size: 32px;
}
.fs-36 {
  font-size: 36px;
}
.fs-64 {
  font-size: 64px;
}
.fs-128 {
  font-size: 128px;
}
.fw-bold {
  font-weight: bold;
}
// ---------MARGIN---------
.mx-auto {
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto; // 靠右對齊
}
.mr-auto {
  margin-right: auto; // 靠左對齊
}
.ml-1 {
  margin-left: 4px;
}
.mr-3 {
  margin-right: 12px;
}
.mr-5 {
  margin-right: 20px;
}
.mr-6 {
  /* class 命名，以 4px 為一個單位， mr-6 代表要推 24px */
  margin-right: 24px;
}
.mb-4 {
  margin-bottom: 16px;
}
.mb-5 {
  margin-bottom: 20px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-9 {
  margin-bottom: 36px;
}
// TEXT-ALIGN
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}