@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            background: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}

@mixin round-button($hover) {
  cursor: pointer;
  text-align: center;
  border-radius: 32px;
  &:hover {
    background: $hover;
  }
}
// RWD斷點
@mixin pad {
  @media(max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: 375px) {
    @content;
  }
}

// 下方為同事的版本
// @mixin phoneToPC {
//   @media(max-width: 768px) {
//     @content;
//   }
// }

// @mixin pad {
//   @media(min-width: 375px) and (max-width: 768px) {
//     @content;
//   }
// }

// @mixin pc {
//   @media(min-width: 768px) {
//     @content;
//  }
// }