@import '../../utils/variables';
@import '../../base/reset';
@import '../../utils/spacing';
@import '../../utils/helpers';
@import '../../utils/mixins';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

$primary-color-1: #AA0601;
$primary-color-2: #650300;
$highlight-color: #00FFA3;
$secondary-color-1: $white;
$secondary-color-2: #FBF2F2;
$gray-100: #00000029;
$gray-200:  #707070;
$hover: #650300;
$font-family-base: 'Noto Sans TC', 'Roboto', sans-serif;

body {
  font-family: $font-family-base;
}
.container {
  // PC
  max-width: 1296px; // 1296px + 24px(左右間距)
  padding: 0 12px;
  margin: 0 auto;
  @include pad {
    max-width: 720px; // 696px +24px
  }
  @include mobile {
    max-width: 372px; // 348px + 24px
  }
}

.text-primary-color-1 {
  color: $primary-color-1;
}
.text-primary-color-2 {
  color: $primary-color-2;
}
.text-secondary-color-1 {
  color: $secondary-color-1
}
.bg-secondary-2 {
  background-color:  $secondary-color-2;
}
.bg-primary-1 {
  background: $primary-color-1;
}
.italic-roboto {
  font-family: 'roboto';
  font-style: italic;
}
.regular-roboto {
  font-family: 'roboto';
}
.regular-noto-sans {
  font-family: 'Noto Sans TC';

}
// 各個區塊使用
.section-block {
  padding: 80px 0;
}

// HEADER
header {
  padding: 16px 0;
  @include pad {
    padding-bottom: 0;
  }
  .logo {
    object-fit: cover;
    width: 80px;
    @include pad {
      margin: 0 0 16px 16px;
    }
  }
  .header-item {
    @include pad {
      margin-right: 0;
      border: 1px solid $white;
    }
  }
  .header-link {
    display: block;
    color: $white;
    padding: 8px 32px;
    @include pad {
      font-size: 16px;
      text-align: center;
      padding: 12px 0;
    }
  }
  .header-wrap {
    @include pad {
      /* 移除左右 padding 再加入 max-width: 100%; 讓導覽列能變為滿版 */
      padding-left: 0;
      padding-right: 0;
      max-width: 100%;
    }
  }
}

// BANNER
.banner {
  background: $primary-color-1 url('/assets/images/w3/home-header.png') 20% 50%/cover no-repeat;
  @include mobile {
    background: $primary-color-1 url('/assets/images/w3/home-header-sm.png') center/cover no-repeat;
  }
  .banner-title {
    padding-top: 296px;
    padding-bottom: 296px;
    @include padToMobile {
      h3 {
        font-size: 28px;
      }
      h1 {
        font-size: 36px;
        margin-bottom: 10px;
      }
    }
    @include mobile {
      padding-top: 144px;
      padding-bottom: 144px;
      h3 {
        font-size: 16px;
      }
      h1 {
        font-size: 24px;
      }
    }
  }
  button {
    padding: 6px 12px;
  }
}

// INTRO
.intro {
  h3 {
    @include padToMobile {
      font-size: 32px;
    }
    @include mobile {
      font-size: 24px;
    }
  }
}

// PRODUCT CLASSIC
.product-classic {
  .classic-title {
    @include mobile {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  .product-classic {
    @media(max-width: 1400px) {
    }
    @media(max-width: 992px) {
      h3 {
        font-size: 40px;
        margin-bottom: 24px;
      }
      // padding-left: 0;
      // padding-right: 0;
      padding: 0;
      flex-direction: column;
      align-items: center;
    }
  }
}
// PRODUCT CO-BRAND
.product-co-brand {
  background: $primary-color-1 url('/assets/images/w3/index-bg.png') left top/cover no-repeat;
  h2 {
    @include mobile {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  .product-co-brand-row {
    h3 {
      background: $white;
      padding: 8px 0;
      border-right: 1px solid $gray-100;
    }
    img {
      @include mobile {
        height: 240px;
      }
    }
  }
}
// RECOMMEND
.recommend {
  @include mobile {
    padding-left: 14px;
    padding-right: 14px;
    h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
  .card {
    position: relative;
    @include mobile {
      margin-bottom: 16px;
    }
    .card-content {
      box-shadow: 0px 2px 6px $gray-100;
      padding: 16px;
      height: 205px;
    }
    .date {
      position: absolute;
      bottom: 16px;
      color: $gray-200;
    }
  }
}

// CONTACT US
.contact-us {
  input:not([type="checkbox"]):not([type="submit"]) {
    width: 100%;
    height: 36px;
    border: 1px solid $black;
  }
  input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    border-width: 2px;
  }
  textarea {
    resize: none;
  }
  input[type="submit"] {
    padding: 16px 0;
    margin-top: 48px;
    max-width: 416px;
    &:hover {
      background: $hover;
    }
  }
  .contact-content  {
    @include pad {
      font-size: 16px;
    }
  }
  h2 {
    @include mobile {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

// FOOTER
// 此區塊因部分文字在過渡時期會跑版，所以在576px下了一個斷點
footer {
  ul.footer-list {
    @include pad {
      gap: 24px;
    }
  }
  ul.footer-list {
    @include padToMobile {
      gap: 15px;
    }
  }
  @include padToMobile {
    .footer-info {
      position: relative;
    }
    ul.footer-list {
      display: none;
    }
  }
  ul.footer-social-media {
    @include padToMobile {
      margin-left: auto;
    }
    @include pad {
      gap: 16px;
      li img {
        width: 32px;
        height: 32px;
      }
    }
    @include padToMobile {
      position: absolute;
      right: 0;
      top: 24px;
      gap: 8px;
      li img {
        width: 24px;
        height: 24px;
      }
    }
  }
  .footer-contact {
    span {
      vertical-align: middle;
    }
    @include padToMobile {
      padding: 0 8px;
      margin-bottom: 24px;
    }
    .phone-icon, .email-icon {
      margin-right: 22px;
      @include padToMobile {
        margin-right: 10px;
      }
    }
    .phone-icon {
      @include padToMobile {
        font-size: 18px;
      }
    }
    .email-icon {
      @include padToMobile {
        font-size: 20px;
      }
    }
    .phone, .email {
      @include padToMobile {
        font-size: 16px;
      }
    }
  }
  .footer-info {
    padding: 48px 0 24px;
    @include padToMobile {
      padding-top: 0;
    }
  }

  div:nth-child(3) {
    border-top: 1px solid $white;
    padding: 32px 0;
    @include padToMobile {
      padding: 24px 0;
    }
  }
  .privacy {
    span {
      @include padToMobile {
        display: block;
      }
    }
  }
}

/* 放在後方 */
@include pad {
  .col-md-6 {
    width: 50%;
  }
  .col-md-10 {
    width: 83.333%;
  }
  .col-md-12 {
    width: 100%;
  }
  .mb-md-6 {
    margin-bottom: 24px;
  }
  .px-md-9 {
    // 分開寫的原因是避免覆蓋掉.section-block
    padding-left: 36px;
    padding-right: 36px;
  }
  .flex-md-wrap {
    flex-wrap: wrap;
  }
  .flex-md-col {
    flex-direction: column;
  }
  .section-md-block {
    padding: 40px 0;
  }

}

@include mobile {
  .col-sm-4 {
    width: 100%;
  }
  .px-sm-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .mb-sm-2 {
    margin-bottom: 8px;
  }
}