@import '../base/reset';
@import '../utils/variables';
@import '../utils/helpers';
@import '../utils/mixins';
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

$primary-color: $black;
$secondary-color: #00FFA3;
$font-family-base:  'Bruno Ace SC', cursive, serif;

body {
  font-family: $font-family-base;
  line-height: 1.5;
  // background-color: $black;
}
.container {
  width: 1296px;
  margin: 0 auto;;
}
.bg-black {
  background-color: black;
}
.tx-secondary-color {
  color: $secondary-color;
}
// HEADER
header {
  color: $white;
  padding-top: 40px;
  ul {
    li {
      min-width: 196px;
      max-width: 306px;
      &:last-child {
        text-align: right;
      }
    }
  }
}

// BANNER
.banner {
  padding: 72px 0;
  .banner-title {
    color: $white;
    flex-direction: column;
    a {
      @include round-button;
      padding: 12px 0;
      width: 186px;
      background-color: $white;
    }
  }
}
// INTRODUCTION
.flex-gap-1 {
  gap: 24px;
}
.intro {
  color: $white;
  background: $black url('../../images/w2/background-img.png') 100%/cover fixed;
}
.col-7 {
  gap: 24px;
}