<!-- FOOTER -->
<div class="bg-primary-1 text-secondary-color-1">
  <footer class="container">
    <div class="footer-info d-flex justify-between items-center">
      <ul class="footer-list d-flex gutter-12">
        <li>首頁</li>
        <li>系列鏡框</li>
        <li>門市據點</li>
        <li>部落格</li>
        <li>常見問題</li>
      </ul>
      <ul class="footer-social-media d-flex gutter-8">
        <li><img src="../../assets/images/w3/ic-social-fb.png" alt="facebook" width="48" height="48"></li>
        <li><img src="../../assets/images/w3/ic_social_ig.png" alt="instraram" width="48" height="48"></li>
        <li><img src="../../assets/images/w3/ic_social_line.png" alt="line" width="48" height="48"></li>
      </ul>
    </div>
    <div class="footer-contact mb-8">
      <!-- https://developers.google.com/fonts/docs/material_icons?hl=zh-tw -->
      <span class="phone-icon material-symbols-outlined fs-36 fw-bold">call</span>
      <span class="phone fs-36">0800-000-00</span><br>
      <span class="email-icon material-symbols-outlined fs-36 fw-bold">mail</span>
      <span class="email fs-36">glasses@business.com</span>
    </div>
    <div class="footer-policy d-flex justify-between flex-md-wrap">
      <p class="regular-roboto col-sm-4 mb-sm-2">Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="privacy">
        <span class="mr-12 mb-sm-2">隱私權政策</span>
        <span class="mr-12">服務條款</span>
      </div>
    </div>
  </footer>
</div>
