@import "../../utils/mixins";
@import "../../utils/variables";

.common-link-style {
  cursor: pointer;
  color: $white;
  &:hover {
    color: rgba($white, .5);
  }
  img {
    &:hover {
      transform: rotate(20deg);
    }
  }
}

// W3 FOOTER 區塊文字、圖案在過渡時期會被擠壓造成跑版，在 576px 多加一個斷點
ul.footer-list {
  @include pad {
    gap: 24px;
  }
  @include padToMobile {
    display: none;
  }
}
.footer-info {
  @include padToMobile {
    position: relative;
  }
}
ul.footer-social-media {
  cursor: pointer;
  @include padToMobile {
    margin-left: auto;
  }
  @include pad {
    gap: 16px;
    li img {
      width: 32px;
      height: 32px;
    }
  }
  @include padToMobile {
    position: absolute;
    right: 0;
    top: 24px;
    gap: 8px;
    li img {
      width: 24px;
      height: 24px;
    }
  }
}
.footer-contact {
  span {
    vertical-align: middle;
  }
  @include padToMobile {
    padding: 0 8px;
    margin-bottom: 24px;
  }
  .phone-icon, .email-icon {
    margin-right: 22px;
    @include padToMobile {
      margin-right: 10px;
    }
  }
  .phone-icon {
    @include padToMobile {
      font-size: 18px;
    }
  }
  .email-icon {
    @include padToMobile {
      font-size: 20px;
    }
  }
  .phone, .email {
    @include padToMobile {
      font-size: 16px;
    }
  }
}
.footer-info {
  padding: 48px 0 24px;
  @include padToMobile {
    padding-top: 0;
  }
}
.footer-policy {
  border-top: 1px solid $white;
  padding: 32px 0;
  @include padToMobile {
    padding: 24px 0;
    flex-direction: column;
    .privacy {
      @include mobile {
        flex-direction: column;
      }
    }
  }
}